.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.\#*
*.orig
\#*
config/database.yml
*.css
config/mail_password
public/javascripts/controls.js
public/javascripts/dragdrop.js
public/javascripts/effects.js
public/javascripts/prototype.js
public/javascripts/rails.js
